/* .loader-wrapper {
    width: 100%;
    height: 100%;
    padding: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.preloader {
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: #1b1941 url("../assets/preloader.gif") no-repeat center center;
    /* background-repeat: no-repeat; */
}